
<div class="center jumbotron">
  <h1>Welcome to Multigroup Events</h1>

  <h2>
    This site shows the combined, deduped RSVP lists for events that are posted across multiple groups. 
  </h2>
</div>

<div class="event-list">
  <% if @events && @events.size() > 0 %>
    <h3>Some upcoming events:</h3>
    <% @events.each do |event| %>
      <%= render partial: "events/event_list_item", locals: { event: event } %>
    <% end %>
    <%= link_to "Full Event Listing", events_path, class: "btn btn-lg btn-primary"%>
  <% end %>
</div>
