<fieldset>
  <% rank_val = defined?(curr_rank) ? curr_rank : RemoteEventApiSource::NEW_RANK_MARKER %>
  <%= f.hidden_field "_destroy", { class: "input_destroy" } %>
  <%= f.hidden_field :rank, value: rank_val %>
  <div class="input-group">
    <%= f.text_field :url, label: "Meetup event URL or unique ID", 
append: link_to("Remove", "#", class: "btn btn-default remove_fields") %>
    <span class="input-group-addon white-bg no-border top-pading-1em ">
      <%= f.check_box :is_primary_event, label: "Primary Event?" %>
    </span>
  </div>
</fieldset>