    <div class="row">
      <div class="col-sm-12">
        <h1 id="pageTitle"></h1>
        <h2 id="errorMessage"></h2>

        <div id="multigroupEvent">
          <div id="yesRsvps">
          </div>
          <div id="noRsvps">
          </div>
        </div>
      </div>
    </div>
 <script>
      var sortTypes = { NAME: 'name', 
                         LAST_RSVP: 'last_rsvp', 
                         FIRST_RSVP: 'first_rsvp'
                       };
      var defaultSortType = sortTypes['NAME'];
      var loadArgs = {
   //       eventIdList: ['206685992', '218131942','206685292'],
//        meetupKey: '5e7e4f791557b5f3843303f103d4',      
        pageTitle: '<%= @event.title %>',
        displayPrimaryEvent  : false,
        displayPrimaryEventTitle : false,
        displayEventList     : false,
        displayYesRsvps      : true,
        displayNoRsvps       : false,
        defaultShowYesRsvps  : true,
        defaultShowNoRsvps   : false,
        fetchAllEventsAtOnce : true,
        useGeneralErrorMessage : false,
        displayRsvpLinks     : false,
        sortYesRsvpsBy       : defaultSortType,
        sortNoRsvpsBy        : defaultSortType,
    //    primaryEventDisplayTag: '#primaryEvent',
        eventListDisplayTag: '#eventList',
        rsvpCountDisplayTag: '#rsvpCount',
        yesRsvpDisplayTag: '#yesRsvps',
        noRsvpDisplayTag:  '#noRsvps',
      //  eventListTemplate: '/events/templates/event_list.erb',
      //  yesRsvpTemplate:  '/events/templates/rsvp_list.erb',
        allEventsApiUrl: '<%= @event.remote_event_api.all_events_api_url.html_safe %>',
        allRsvpsApiUrl: '<%= @event.remote_event_api.all_rsvps_api_url.html_safe %>'       
      };
    $(document).ready( function() {
      $('#multigroupEvent').loadEventData(loadArgs);
    });

    function reloadRsvps(sortType) {
      loadArgs[sortYesRsvpsBy] = sortType;
      $('#multigroupEvent').loadEventData(loadArgs);
    }

  </script>